body {
    background-color: #6D8256;
    font-family: helvetica;
    font-size: 33px;
}

.art-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.art-grid {
    min-height: 50vh;
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}

.art {
    padding-top: 20px;
}

.manifesto {
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    letter-spacing: 0.5px;
}

.button {
    text-align: center;
}

