 * {
     margin: 0;
     padding: 0;
     font-family: helvetica;

 }

 .logo {
     background-color: #DDE0E3;
     padding: 10px 10px 10px 10px;
     width: 30%;

 }

 .info {
     text-align: center;
     position: fixed;
     text-transform: uppercase;
     right: 0;
     background: #7FFF00;
     padding: 5px 10px 700px 7px;
 }


 a {
     position: relative;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 20px;
     text-decoration: none;
 }

 .list {

     background-color: #B2D6FF;
     padding: 10px 830px 10px 15px;
     font-weight: bold;
     font-size: 26px;
     text-transform: uppercase;
     margin-top: 26%;
     float: left;
 }

 li {

     list-style-type: none;
 }




 /*@media only screen and (max-width: 500px) {
     body {
         background-color: #F09A9D;
     }
 }


 @media only screen and (min-width: 501px) and (max-width: 960px) {
     body {
         background-color: #F5CF8E;
     }
 }


 @media only screen and (min-width: 961px) {
     body {
         background-color: #B2D6FF;
     }
 }*/