* {
    margin: 0;
    padding: 0;
}


body {
    font-family: helvetica;
}

h3 {
    padding-top: 6px;
    padding-left: 6px;
    line-height: 1.5em;
}

.line {
    border-bottom: 1px solid #f00;
    /* Параметры линии */
}

.list {
    padding-left: 6px;
    padding-top: 55px;
    font-size: 17px;
}


.button {
    padding-top: 90px;
    text-align: center;
}