* {
    margin: 0;
    padding: 0;

}

.art-container {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.art-grid {
    margin-top: 50px;
}


.button {
    text-align: center;
}